@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

.container{
    padding-left: 0;
}
.home{
    font-family: "Roboto Mono",Helvetica,Arial,sans-serif;
    padding-left: 0 !important;

    .example_responsive_1 { width: 320px; height: 100px; }
@media(min-width: 500px) { .example_responsive_1 { width:100%; height: 60px; } }
@media(min-width: 800px) { .example_responsive_1 { width: 100%; height: 90px; } }


    .title {
        text-align: center;
        font-weight: bold;
        text-transform: none;
        margin-bottom: 20px;
        font-size: 24px;
    }
 
     .desc {
        color: #fff;
        line-height: 5rem;
        text-align: left;
        font-weight: 500;
        font-size: 34px;
        text-transform: lowercase;
     }
    img{
        width: 100%;
    }
    
    .logo{
        font-size: 7rem;
        color: white;
        
    }

    h1{
        color: #fff;
        line-height: 5rem;
        font-size: 29px;
        text-transform: lowercase;
    }

    p{
        color: white;
        line-height: 30px;
        font-size: 16px;
        margin-top: 20px;
    }

    h2{
        color:white;
        font-size: 20px;
        margin-bottom:2rem;
        font-family: "Roboto Mono",Helvetica,Arial,sans-serif;
        text-align: center;
        text-transform: lowercase;
        font-weight: normal;
    }

    select{
        width:100%;
        padding-left: 10px;
        height: 40px;
        margin-bottom: 20px;
        color:white;
        border: none;
        background: #3d0115;
    }

    label{
        display:block;
        font-weight:normal;
        font-size: 18px;
        font-family: "Roboto Mono",Helvetica,Arial,sans-serif;
        color:white;
        margin-bottom: 20px;
        text-transform: lowercase;
    }

    input[type="text"]
    {
        display:block;
        width:100%;
        height: 40px;
        color:white;
        padding-left: 20px;
        font-size: 2rem;
        margin-bottom: 20px;
        border: none;
        background: #3d0115;
    }

    .currency{
        width: 100%;
        margin: 5px;
        margin-left: 0;
    }
    .errorMsg{
        margin-top: 0;
    }
    .price{
        width: 100%;
        margin: 5px;
        margin-right: 0;
        margin-left: 0;
        margin-top: 5;
    }
    .react-datepicker__current-month, .react-datepicker-time__header {
        font-size: 1.3rem;
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        color: #000;
        display: inline-block;
        width: 3.7rem;
        line-height: 1.7rem;
        text-align: center;
        margin: 0.166rem;
    }
    .react-datepicker{
        font-size: 1.2rem;
    }
    .react-datepicker__input-container{
        width:100%;
    }

    .react-datepicker-wrapper{
        width:100%;
    }
.submit{
    .advert{
        width:45%;
        margin:5px;
     }
    button{
        background: none;
        color: #44B8FF;
        padding: 10px 15px;
        border: none;
        color: white;
        width: 34%;
        border: 1px solid white;
        width: 50%;
        font-family: "Roboto Mono",Helvetica,Arial,sans-serif;
        border-radius: 6px;
        height: 59px;
        float: none;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
        transition: all .2s ease-in-out;

        &:hover{
            background: #230121;
            border:none;
        }
    }
}

@media only screen and (max-width: 500px) {
    .submit {
        button{
            width:100%;
            margin-bottom: 30px;
         margin-top: 0px;
        }
    }

    h2{
        line-height: 34px;
    }

    .currency{
        width:100%;
    }

    .price{
        width:100%;
    }
}
}
