.results{

    h1{
        font-size:3rem;
        font-weight:100px;
        text-align: center;
    }

    h3{
        text-align: center;
        font-size:1.8rem;
        color:white;
    }

    h4{
        text-align: center;
        font-size:1.3rem;
        font-weight:300;
        color:#44B8FF;

    }
}