@import './styles/_home';
@import './styles/results';
@import './styles/login';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

.App {
  text-align: center;
}
.container{

}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.box1{
background:red;
}

.loader{
  text-align: center;
  margin-top: 20%;
  >div{
    margin: 0 auto;
  }
}

body{
  // font-family: "Roboto Mono",Helvetica,Arial,sans-serif;
  font-family: "Roboto Mono",Helvetica,Arial,sans-serif;
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #200122, #6f0000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #200122, #6f0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, h2, h3, h4{
  font-family: "Roboto Mono",Helvetica,Arial,sans-serif;
}

label{
  display:block;
  font-weight:normal;
  font-size: 18px;
  font-family: "Roboto Mono",Helvetica,Arial,sans-serif;
  color:white;
  margin-bottom: 20px;
  text-transform: lowercase;
}


header{
  padding:17px 0;
  overflow: auto;

  .header-icon{
    font-size: 30px;
    margin: 10px;
  }

  .logo{
    display:inline-block;
    float:left;
    color:white;
    margin-top: 20px;
    font-family: "Roboto Mono",Helvetica,Arial,sans-serif;
  }

  .menuList{
    display:inline-block;
    float:right;
    color:white;
        font-family: "Roboto Mono",Helvetica,Arial,sans-serif;

    a{
      color:white;
      text-decoration: none;
      border:none;
      display:inline-block;
      border-radius:3px;
      font-family: "Roboto Mono",Helvetica,Arial,sans-serif;
      transition: all .5s ease-in-out;
      &:hover{
        color:gray;
      }
    }
  }
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.menuList{

  button{
      background: none;
      color: #44B8FF;
      border: none;
      color: white;
      width: 100%;
      width: 50%;
      font-family: "Roboto Mono",Helvetica,Arial,sans-serif;
      border-radius: 6px;
      height: 59px;
      float: none;
      font-size: 16px;
      margin-top: 15px;
      margin-bottom: 15px;
      transition: all .2s ease-in-out;

      &:hover{
          background: #230121;
          border:none;
      }
  }
}
